
/*From Unity's TemplateData/style.css*/

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.sr-has-meta-container .webgl-content{
    left:calc(50% + 130px);
}

body {
    overflow:hidden;
    background-color:#121212;
	margin:0;
	padding:0;
}



#sr-loading-container {
    background-color: #121212;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index:1;
    opacity:1;
    transition:opacity .4s;
    background-size:cover;
}

#sr-loading-container .sr-done {
    opacity: 0;
}
#sr-loading-container .cssProgress{
    width:50%;
    margin:auto;
    display:block;
}
.sr-logo{
    width: 512px;
    max-width:100%;
    margin: 0 auto 0 auto;
    display: block;
}

@media screen and (min-width: 600px){
 
}

.sr-loading-container-radial{
  width:30%;
  height:40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
}

.sr-play-container{
  width:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
  text-align:center;
}

/*Unity puts an unnamed div below our loading screen. force it above*/
#gameContainer>div{
    z-index:2;
}

/*PROGRESS BAR*/
/* Subset of: https://github.com/rkchauhan/pure-css-progress-bars/*/
.cssProgress {
    width: 100%;
    margin-bottom: 20px;
}
.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: sans-serif;
    font-weight:bold;
}
.cssProgress .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    background: #e70013;
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-label {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7em;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

.cssProgress .cssProgress-stripes,
.cssProgress .cssProgress-active,
.cssProgress .cssProgress-active-right {
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-size: 35px 35px;
}
.cssProgress .cssProgress-active {
    -webkit-animation: cssProgressActive 2s linear infinite;
    -ms-animation: cssProgressActive 2s linear infinite;
    animation: cssProgressActive 2s linear infinite;
}
.cssProgress .cssProgress-active-right {
    -webkit-animation: cssProgressActiveRight 2s linear infinite;
    -ms-animation: cssProgressActiveRight 2s linear infinite;
    animation: cssProgressActiveRight 2s linear infinite;
}
@-webkit-keyframes cssProgressActive {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 35px 35px;
    }
}
@-ms-keyframes cssProgressActive {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 35px 35px;
    }
}
@keyframes cssProgressActive {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 35px 35px;
    }
}
@-webkit-keyframes cssProgressActiveRight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -35px -35px;
    }
}
@-ms-keyframes cssProgressActiveRight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -35px -35px;
    }
}
@keyframes cssProgressActiveRight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -35px -35px;
    }
}

.progress2 {
    background-color: white;
    border-radius: 9px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
    height: 5px;
    border-radius:0px;
}
.progress2 .cssProgress-label {
    line-height: 18px;
}

#sr-game-controls {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0px;
    right: 0px;
    height: 38px;
    z-index: 1;
    display: none;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#sr-game-controls:hover {
    opacity:1;
}

.sr-game-controls-button,
.sr-game-controls-button:active,
.sr-game-controls-button:focus {
    border: 0;
    padding: 0;
    background: none;
    outline:none;
}

#fullScreenButton {
	position: absolute;
	left: 0;
}




